body {
  margin: 0;
  background-color: black;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  align-items: center;
  height: 95vh;
  font-family: Arial, sans-serif;
  color: white;
}
  
  #timer {
    font-size: 15rem;
    font-weight: bold;
    text-align: center;
  }

  #time {
    font-size: 7rem;
    font-weight: bold;
    text-align: center;
    color: rgb(185, 185, 185)
  }
  
  .yellow {
    color: yellow;
  }
  
  .red {
    color: red;
    animation: none;
  }
  
  .blink {
    animation: blink 1s infinite;
  }
  
  @keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
  }

  